* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.headbar {
    height: 80px;
    width: 100%;
    background: linear-gradient(180deg, rgba(190,88,255,1) 0%, rgba(61,0,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headbar > h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

body {
    background-color: mediumpurple;
}

main {
    padding: 40px;
}

table {
    border: 1px solid white;
    border-radius: 8px;
    width: 50%;
}

.head-row > td {
  text-transform: uppercase;
  background: radial-gradient(circle, rgba(190,88,255,1) 0%, rgba(61,0,255,1) 100%);
  text-align: center;
}

td {
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: background-color 0.2s;
}

.content-row:hover > td {
  background-color: #8e58ff;
}