<!DOCTYPE html>
<html>
  <head>
    <title>Configs</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
  </head>
  <body>
    <div class="box">
      <h1>Home</h1>
      <p>@ViewBag.Config</p>
    </div>
  </body>
</html>