@model List<Country>

<div class="box">
  <h3>Grid</h3>
  <table class="table w-100">
    <thead>
      <th>Country</th>
      <th>Capital City</th>
    </thead>
    @foreach (Country country in Model)
    {
      <tr>
        <td>@country.Name</td>
        <td>@country.CapitalCity</td>
      </tr>
    }
  </table>
</div>