<div class="flex flex-col items-center justify-center gap-6 h-full">
  <h1 class="uppercase">Welcome to <span class="text-darkGreen">StocksApp</span></h1>
  <a href="/trade" class="button btn__green">Go to Trade</a>
</div>
