<h1>Home</h1>
<div class="box programming-languages-content"></div>

<button class="button button-blue-back">Load Programming Languages</button>

<script>
  const button = document.querySelector("button");
  button.addEventListener("click", async () => {
    const response = await fetch("programming-languages");
    const languages = await response.text();
    const placeholder = document.querySelector(".programming-languages-content");
    placeholder.innerHTML = languages;
  })
</script>