<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/StyleSheet.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="~/DotNet.svg" />
</head>
<body>
  <header>
    <img alt="" src="~/DotNet.svg" />
    Weather App
  </header>
  <main>
    @RenderBody()
  </main>
</body>
</html>
