@model CityWeather

@{
  string GetColor(int temperature)
  {
    if (temperature < 15)
    {
      return "ice";
    }
    else if (temperature < 30)
    {
      return "warm";
    }
    else
    {
      return "hot";
    }
  }
}

<li>
  <a class="text-normal" href="/weather/details/@Model.CityCode">
    <div class="weather-card__outer">
      <div class="weather-card__inner">
        <div class="card-left">
          <p class="city-name">@Model.CityName</p>
          <p class="date">@Model.Date.ToShortTimeString()</p>
        </div>
        <div class="card-right">
          <p class="temperature">
            <span class=@GetColor(Model.Temperature)>@Model.Temperature</span>&#176;C
          </p>
        </div>
      </div>
    </div>
  </a>
</li>