<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@ViewBag.appTitle</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="~/StyleSheet.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="~/DotNet.svg" />
</head>
<body>
  <header>
    <h1>Weather App</h1>
  </header>
  <main>
    @RenderBody()
  </main>
</body>
</html>