@{
  var myViewData = new ViewDataDictionary(ViewData);
  myViewData["ListTitle"] = "Custom ViewData";
  myViewData["ListItems"] = new List<string>()
{
"This is made by invoking new ViewDataDictionary object"
};
}


<h1>Home</h1>
<div class="box">
  <partial name="_ListPartialView" />
</div>
<div class="box">
  <partial name="_ListPartialView" view-data="myViewData" />
</div>
@{
  ViewBag.ListTitle = "Countries";
  ViewBag.ListItems = new List<string>()
{
"Poland",
"USA",
"Greece",
"Spain",
"Madagaskar"
};
}
<div class="box">
  <partial name="_ListPartialView" />
</div>
