@using ViewsExample.Models;
@{
    string appTitle = "ASP.NET Core Web Application";

    List<Person> people = new List<Person>
    {
        new Person("Sebastian", new DateTime(2000, 05, 23), Person.Gender.Male),
        new Person("Asia", new DateTime(1999, 04, 30), Person.Gender.Female),
        new Person("Dominik", new DateTime(2024, 03, 02), Person.Gender.Male)
    };
}


@{
    string GetAge(Person person)
    {
        if (person.DateOfBirth.HasValue)
        {
            double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
            return $"{person.Name} is {age} years old.";
        }
        return $"{person.Name}'s date of birth is unknown.";
    }

    string alertMessage = $"<script>alert('There is {people.Count} people here.')</script>";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>This is my first View Page.</h1>
        <p>I'm currently learning concept of Views.</p>
        <p>This is the last element of <span>MVC</span>.</p>
        <div>
        @foreach (Person person in people)
        {
            <h4>@GetAge(person)</h4>
        }
        </div>
        @Html.Raw(alertMessage);
    </body>
</html>
