<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>StocksApp | @ViewBag.Title</title>
  <script src="https://kit.fontawesome.com/1ec8c10b63.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
  <header>
    <div class="logo">
      <i class="fa-solid fa-dollar-sign"></i>
      <h1>Stocks</h1>
    </div>
    <div class="account-links">
      <a>Login</a>
      <a>Sign Up</a>
    </div>
  </header>
  <main>
    @RenderBody()
  </main>
</body>
</html>
